body{
    
     background-color:white;
     color:black;
 }
 
.grid-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   /*  grid-auto-rows: repeat(auto-fit,minmax(200px,1fr));  */
   grid-template-rows: 1fr 1.5fr 3fr 2fr 1fr 0.5fr;
    
    height:100vh;
    /* width:100vw; */

}

 
#feature-navbar {
    background-color: #E6E7E8;

} 

#feature-header {
    background-color: cyan;
    /* width:100vw; */
    /* height:20vh;   */
}

#feature-main {
    background-color: lightgreen;
    display:flex;
    flex-flow:column wrap;

 /*    width:50vw; 
    height:40vh; */
} 

#feature-trailer{
    background-color: azure;
    flex:1;
}

#feature-info{
    background-color: magenta;
    flex:1;
}

#feature-related {
background-color:lightseagreen;
display:flex;
flex-flow:column wrap;
/* width:50vw; 
height:30vh;  */

}

#feature-footer{
    background-color:darkred;
    /* width:100vw; */
/*     height:10vh;   */