body{
    
     background-color:white;
     color:black;
 }
 
.grid-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   /*  grid-auto-rows: repeat(auto-fit,minmax(200px,1fr));  */
    grid-template-rows: 1fr 1.5fr 3fr 2fr 1fr 0.5fr;
    
    height:100vh;
    /* width:100vw; */
}



#feature-header {
    background-image: url(/media/poster_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   /*  background-color: cyan; */
    /* width:100vw; */
    height:60vh;  
}

#feature-main {
    background-color: fuchsia;
    display:flex;
    flex-flow:column wrap;

 /*    width:50vw; 
    height:40vh; */
} 

#feature-trailer{
    background-color: yellow;
    flex:1;
}

#feature-info{
    background-color: brown;
    flex:1;
}

#feature-related {
background-color:lightseagreen;
display:flex;
flex-flow:column wrap;
/* width:50vw; 
height:30vh;  */

}

#feature-footer{
    background-color:red;
    /* width:100vw; */
/*     height:10vh;   */