.footer {

    margin-top:100px;
}

.footer > ul {
    display:flex;
    flex-flow:row wrap;
    gap: 20px;
    justify-content:space-evenly;
    height: var(--footer-height);
    font-size:12px;
    margin:150px 5px 50px 5px;
    
        
}


.footer > ul > li {
  flex:1;
  margin-right:10px;

}  


.footer p {

font-size:12px;
text-align:center

}




/*footer en pantalla grande*/


@media all and (min-width:768px) {

    .footer > ul {
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-around;
       /*  align-items: center; */
        font-size:14px;
       /*  text-align: center; */
        height: var(--footer-height);
        /* width:100vw; */
        margin-bottom:-30px;

        
        }
    
    .footer > ul > li {
        flex:1;
        flex-basis:50%    
          
          }   
    
    .footer p {
    
    font-size:14px;
    text-align:center;
    margin: 60px 0;
    }
    

}