
* {
    background-color: #050505; 
    color:#E6E7E8; 
}


header > #logo {
background-color:white;
display:block;
margin: 0 auto 10px auto;
margin-bottom:30px;


}


form > #flex-form {
 
display:flex;
flex-flow: column;
align-items: center;
height: 60vh;


} 


#flex-form .flex-item {
 flex:1;


}

.flex-item > label{
    display:block;
    
}

.flex-item > label ~ input{

    width: 320px;
    height: 40px;
    padding:5px;
    margin: 0px auto;
}

.flex-item > button {
    width: 320px;
    height: 50px;
    font-variant: small-caps;
    background-color:#E6E7E8;  
    color: #050505;
}


.flex-item > a {
    display:inline-block;
    margin:5px 35px;;
    text-decoration: none
}

.flex-item > p {
    text-align: center;
}



/*index en pantalla grande*/ 

@media all and (min-width: 768px) {
  
    
    body > #flex-responsive-container {
    display:flex;
    flex-flow: row wrap;
    height: 85vh; 
    align-items: center;
    justify-content: space-around;
        }      

    .flex-responsive-item{
    flex: 1;
    
    }

    form > #flex-form {
 
        display:flex;
        flex-flow: column;
        justify-content:space-around;
        align-items: center;
        height:45vh;
                
        
        } 

}