
#grid-container {
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(4,minmax(360px,1fr));
    border: solid black 1px;
    gap: 20px 20px;
    grid-template-rows: repeat(3,minmax(245px,1fr));    

}


#main article > img {
width: 100%;


}
