body {
   background-color: #050505; 
   color:#E6E7E8;  
  
}


#main{
margin-top:calc(var(--navbar-height) + 20px);
width:100vw;

}

#main section > h1{
    margin: 80px 0 40px 10px;
    
}


.grid-container {
    
    margin-top:20px;
    margin-left:10px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(360px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
   /*  grid-template-rows: repeat(1,minmax(240px,1fr)); */
    width:100vw;
    height:calc(100vh - var(--navbar-height) - var(--footer-heigth)); /*restarle alto del header (carrusel) y del footer*/
    /*OJO AQUI HAY UN ERROR EN EL CALC, SEPARAR EL SEGUNDO MENOS!!!!!!!!!!!!!!!!!!!*/
}


/*
propiedades a tener en cuenta para el texto:
-font-size:small;
-font-weight:bold;
-font-variant: small-caps
*/


.card {
    width: 360px; /*tamaño de la imagen*/
    position:relative;
    border:0px;
    margin:0px;
    padding:0px;
    height: 245px;
    border:solid 1px white;
   
}  

.card > .card-icon {
    width:100%;
    

}
.card > .card-image {
    border:0px;
    margin:0px;
    padding:0px;
    
   
}


.card > .card-text {    

background-color:rgba(0, 0, 0, 0.3);  
display:none;
position:absolute;
top:0px;
left:0px;
bottom:0px;
width:100%;


border:0px;
margin:0px;
padding:0px;
font-size:14px;

}

.card:hover > .card-text , .card:active > .card-text {
display:flex;
flex-flow: row nowrap;
align-items:flex-start;



}
 
.card .card-text #card-title , #card-info {

text-align:justify;
border:0px;
margin:2px;
padding:2px 5px;
}



/*icono de favoritos interactivo, FALTA: 

-PROBAR QUE FUNCIONA EN AMBAS PANTALLAS.  
-PONER OTRO ICONO (¿CORAZON BLANCO CON BORDE NEGRO?) EN VEZ DE 'AQUI'
-REDUCIR MARGENES ENTRE COLUMNAS
-VOLVER A PONER EL BACKGROUND COLOR NEGRO Y LETRAS BLANCAS*/

.card > .card-icon {
    position:relative;
    
}    



 .card-icon > .label-favorite{
    position:absolute;
    top:3px;
    left:325px;
/*     width:50px;
    height:50px; */
    z-index:10;
    

 } 

  .card-icon .label-favorite::before {
    position:absolute;
    content:"";    
    background-image: url(/media/unfavorite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width:20px;
    height:20px;
    padding:6px;
    margin:4px;
    
        
}



.card > .card-icon > .checkbox-trick {
        position:relative;
        top: 5px;
        left:325px; 
        background-color:#E6E7E8;   
        display:none;
        
        }


.checkbox-trick:checked ~ .label-favorite::after {
    content:"";
    background-image: url(/media/favorite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
/*     width:50px;
    height:30px; */
    padding:10px;
    margin:0px 4px;

   
    
    
}


/*display:none vs. visibility:hiden*/



    /* large-size screen*/

/*TODO: Mejorar el grid duplicando cada celda para que incluya además especie de secciones, 
rollo: series, pelis, estrenos en el extremo izquierdo de cada fila como el ejemplo de LaLiga*/


@media all and (min-width: 768px) {


#main {
    margin-top:calc(var(--navbar-height) + 20px);
    width:100vw;
    margin-top:200px;
}

#main  section > h1 {

margin: 80px 0 40px 10px;

}



    .grid-container {

        
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
        grid-auto-rows: 240px;
        gap: 50px 30px;
        
       
       
        /*      
        width:100vw;
        height:calc(100vh - var(--navbar-height)- var(--footer-heigth)); /*restarle alto del header (carrusel) y del footer*/
         
    }



}

/*
grid-template-columns:repeat(4,minmax(360px,1fr));
grid-auto-rows: auto;
gap: 10px;

width:100vw;
height:calc(100vh - var(--navbar-height)- var(--footer-heigth)); */