

.navbar{
    background-color:#E6E7E8;
    height:var(--navbar-height);
    position:fixed;
    top:0px;
    left:0px;
   /*  right:0px; */
    display:inline-block;
    width:100vw;
    z-index:100;
    

}
.navbar #logo {
    background-color:#E6E7E8;
    width:80px;
    margin-left:40vw;
    display:inline-block;
    

    }     

.navbar-list{
    display:none;
        
}  

/*TODO: 
-EL CHECKBOX NO SE PINTA EN MOVIL APAISADO, ARREGLAR (probar con pos relative en vez de absolute)
-PINTAR BURGER O ÍCONO ALTERNATIVO
CON :BEFORE O ALGÚN OTRO PSEUDO-ELEMENTO*/


.navbar #responsive-icon {
    position:absolute;
    top:0px;
    left:0px;
    margin:5px 5px;


     } 

.navbar #responsive-icon:checked ~ .navbar-list {
    
    margin:0;
    padding:0;
    background-color:black; 
    display:flex;
    flex-flow:column nowrap;
    gap:20px;
    align-items:center;
    justify-content: space-evenly;
    height:calc(100vh - var(--navbar-height));
    /* opacity:.7; */
    
}
    
.navbar-item {
     flex-shrink: 1;
     flex-basis: auto;
        
    } 

.navbar-item > a {
    text-decoration:none;
    display:block;
    color:#E6E7E8;
    
}





/*navbar large-size screen*/

@media all and (min-width:768px) {

.navbar #responsive-icon{
    display:none;
}


    .navbar #logo {
        /* background-color:white; */
        margin-left:20px;
        display:block;
        float:left;      
    
        }

    .navbar {
      /*   background-color:white; */
        display: block;
        position: fixed;
        top:0px;
        left:0px;
        /* right:0px; */
        width:100%;    
        height: var(--navbar-height);
              
        }
        
        .navbar .navbar-list  {
            display:block;
            height: calc(var(--navbar-height) - 1px);
            padding: 0px;
            margin: 0px;
            float:right;
            line-height:calc(var(--navbar-height) - 1px);
            font-size: calc(var(--font-size));
        
        }
        
        .navbar .navbar-list > .navbar-item {
            display:inline-block;
            
        }
        
        
        .navbar .navbar-list > .navbar-item > a {
                text-decoration:none;
                margin-right:25px;
                padding:0px 4px;
                color:#050505;
        }
        
        .navbar .navbar-list  .navbar-item > input {
        width:130px;
        height: 35px;
        margin-top: 5px;
        margin-right:25px;
        padding-left:5px;
        
        }

        .navbar img ~ label {
            display:none;


        }

}


   