

@font-face {
    font-family: miFuente;
    src: url(/media/VarelaRound-Regular.ttf);
} 

* {
    font-family: miFuente, Arial, Helvetica, sans-serif;

}

:root {
    --font-size:16px;
    --navbar-height:85px;
    --footer-height:70px;

}



