/* comparar con el styles.css de tony: tiene un @import además 
del face-font, es solo para ilustrar o es necesario?*/

@font-face {
    font-family: miFuente;
    src: url(/media/VarelaRound-Regular.ttf);
} 

* {
    font-family: miFuente, Helvetica, sans-serif, serif;


}

:root {
    --font-size:16px;
    --navbar-height:85px;
    --footer-height:80px;

}

/*
html {
    scroll-behavior: smooth; 
  
  }
*/


/* body{
    width:100vw;
    margin: 0px auto;
     
}*/